<div class="ps-totais-row row g-2 g-md-3">
    <div class="col-md-6">
        <div class="ps-total-box h-100">
            <div class="ps-total-label">Total de Funcionários</div>
            <div class="ps-total-value">{{ total_funcionarios }}</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="ps-total-box ps-total-box--money h-100">
            <div class="ps-total-label">Total à pagar R$</div>
            <div class="ps-total-value">R$ {{ total_pagar_fmt }}</div>
        </div>
    </div>
</div>
