<header class="topbar"
        {% if request.empresa_ativa and request.empresa_ativa.cor_tema %}
            style="background-color: {{ request.empresa_ativa.cor_tema }}; border-bottom: none;"
        {% endif %}>
    <div class="topbar-left">
        <button class="btn btn-outline-secondary d-lg-none" id="openSidebarBtn" type="button">
            <i class="bi bi-list"></i>
        </button>

        <button class="btn btn-outline-secondary d-none d-lg-inline-flex" id="toggleSidebarDesktopBtn" type="button">
            <i class="bi bi-layout-sidebar-inset"></i>
        </button>

        <div>
            <h4 class="page-title mb-0 text-white">Painel</h4>

            {% if request.empresa_ativa %}
                <small class="topbar-company text-white">
                    Empresa ativa: 
                    <strong>{{ request.empresa_ativa }}</strong>

                    <a href="{% url 'selecionar_empresa' %}"
                       class="btn btn-sm btn-light ms-2 py-0 px-2"
                       title="Trocar empresa">

                        <i class="bi bi-arrow-repeat"></i>
                    </a>

                </small>
            {% else %}
                <small class="topbar-company text-white">
                    Nenhuma empresa selecionada

                    <a href="{% url 'selecionar_empresa' %}"
                       class="btn btn-sm btn-light ms-2 py-0 px-2">

                        Selecionar empresa
                    </a>

                </small>
            {% endif %}

        </div>
    </div>

    <div class="topbar-right">
        <div class="user-box">
            <div class="user-avatar">
                <i class="bi bi-person"></i>
            </div>
            <div class="user-info">
                <strong>{{ request.user }}</strong>
                <small class="text-muted">Usuário logado</small>
            </div>
        </div>
    </div>
</header>